.upgrade-content-container {
  background-color: #e9e8e8;
  margin-left: 13%;
  padding: 20px;
  height: 100vh;
}

.upgrade-container {
  padding-top: 100px;
  display: flex;
}

.model-card {
    background-color: #DEE1E7;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    
  }
  