.share-content-container {
    background-color:#F5F5F5;
    height: 100vh;
}

.compartir {
    margin-left: 20%;
    flex-wrap: wrap;
}

.msj-compartir {
    display: flex;
    font-size: 30px;
    margin-right: 50%;
    background-color: none;
    padding-top: 10%;

}
.mensaje-final{
    padding:24px;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: justify;
    background: #DEE1E7;
    margin-left: 25%;
    margin-top: 2px; 
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}