.home-container {
    background-color: #E9E8E8;
    display: flex;
    width: 100%;
}

.content-container {
    background-color: #E9E8E8;
    margin-left: 13%;
    padding: 18px;
}

.sidebar.active+.content-container {
    margin-left: 23%;
}

.banner {
    margin-top: -25px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 99%;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    background: #DEE1E7;
    border-radius: 10px;
    gap: 20px;
    width: 30%;
    cursor: pointer;
}

.specs {
    margin-left: 20px;
    margin-top: 15px;
    justify-content: flex-start
}

.h3-custom {
    font-size: 18px;
    margin-top: 20px;
}

.p-mtecnico {
    margin-bottom: 10px;
    font-size: 16px;
}

.p-stock {
    margin-top: 45px;
}

.model {
    border: 2px solid#928D8D;
    border-radius: 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
}

.image-container {
    margin: 5px;
    justify-items: center;
    display: inline-block;
}

.welcome {
    background-color: #928D8D;
    height: 80px;
}